<p id="notice"><%= notice %></p>

<h1>Students</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', students_path %></li>
  <li><%= link_to 'New student', new_student_path %></li>
</ul>
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Pesel</th>
      <th>Field</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.pesel %></td>
        <td><%= student.field %></td>
        <td><%= link_to 'Show', student, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_student_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Student
<% end %>
