<p id="notice"><%= notice %></p>
<h1>Students</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><%= link_to 'View list', students_path, class: 'nav-link active' %></li>
  <li class="nav-item"><%= link_to 'New student', new_student_path, class: 'nav-link' %></li>
</ul>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Field</th>
      <th><p class="btn" style="width:10%; padding-bottom:0; margin-bottom:0; border-bottom:0"><span class="glyphicon glyphicon-edit"></span></p></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.field %></td>
        <td>
          <%= link_to 'Show', student, class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Edit', edit_student_path(student), class: 'btn btn-info btn-sm' %>
          <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_student_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Student
<% end %>
