<p id="notice"><%= notice %></p>
<h1>Student details</h1>
<hr>
<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @student.pesel %>
</p>

<p>
  <strong>Field:</strong>
  <%= @student.field %>
</p>
<%= link_to 'Back', students_path, class: 'btn btn-outline-info btn-sm' %>
<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-info btn-sm' %>
<%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
